.photo {
	display: flex;
	justify-content: center;
}

.profile-photo {
	width: 30%;
}

.example-photo {
	visibility: hidden;
	width: 0;
	align-self: center;
	padding: 1em;
}

.example-photo-lq {
	width: 80%;
	align-self: center;
	padding: 1em;
}

.images {
	display: flex;
	align-content: center;
	flex-direction: column;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
  list-style: none;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.4em 1.6em;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

header {
	text-align: center;
}

code {
  background-color: #eee;
  display: block;
}

footer h2 {
	text-align: center;
}

@media only screen and (min-width: 800px) {
	.profile-photo {
		width: 15%;
	}

	li {
		list-style-type: square;
	}

	.example-photo {
		width: 80%;
		visibility: visible;
	}

	.example-photo-lq {
		visibility: hidden;
		width: 0;
	}

	nav ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #555;
	}
}